/* Main */

body {
  font-family: $font_default;
  background-color: $cl_body;
  color: $cl_text;
}

.container {
  background-color: $cl_background;
}

.btn-default {
  background-color: $cl_background;
  color: inherit;
  border-color: $cl_line;
}

.table-hover > tbody > tr.active,
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr:focus {
  background-color: $cl_subtext;
}

.panel-default {
  background-color: $cl_background;
  border-color: $cl_line
}

.panel-default > .panel-heading {
  background-color: $cl_line;
  border-color: $cl_line;
  color: $cl_subtext;
}

.dropdown-menu {
  background-color: $cl_background;
}

.dropdown-menu > li > a {
  color: $cl_text;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: $cl_line;
}

* {
  border-radius: 0 !important;
}

.inline > * {
  display: inline-block;
}

.margin {
  margin: 7px;
}

.no-padding {
  padding: 0;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom > * {
  margin-bottom: 5px;
}

a:hover {
  color: $cl_selected !important;
}

/* Vertical navbar */

.navbar-vertical {
  padding-right: 10px;
  margin-bottom: 20px;
}

.navbar-vertical li {
  display: block !important;
  float: none !important;
  margin-left: 0 !important;
  border-left: $line_width solid transparent;

  text-transform: uppercase;
  font-family: $font_header;
  font-weight: bold;
}

.navbar-vertical li:hover,
.navbar-vertical li:focus,
.navbar-vertical li.active {
  color: $cl_selected !important;
  border-left: $line_width solid $cl_selected;
}

.navbar-vertical .subnav > li {
  padding-left: 20px;
}

.navbar-vertical a {
  color: $cl_text !important;
  background: none !important;
}

.navbar-vertical .navbar-toggle {
  margin-right: -10px;
}

/* Navbar */

@media (min-width: 768px) {
  .navbar-vertical {
    border-right: $line_width solid $cl_line;
  }

  .navbar-vertical + div {
    border-left: $line_width solid $cl_line;
    margin-left: -$line_width;
  }

  .container {
    width: $container_width;
  }

  #main-navbar .navbar-head {
    padding: 20px;
    text-align: center;
  }

  #main-navbar .navbar-head > * {
    float: none;
  }

  #main-navbar {
    border: 0;
    margin-bottom: 0;
  }

  #main-navbar .navbar-nav a {
    width: 100%;
  }

  #main-navbar .navbar-nav > * {
    padding-right: $nav_padding;
    padding-left: $nav_padding;
  }

  #navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border-bottom: $line_width solid $cl_line;
    border-top: $line_width solid $cl_line;
    text-align: center;
  }

  #navbar-collapse > .navbar {
    border: none;
    float: none;
    margin-bottom: -$line_width;
    margin-top: -$line_width;
  }

  #navbar-collapse > .navbar > li {
    float: none;
    display: inline-block;
    border-bottom: $line_width solid transparent;
    border-top: $line_width solid transparent;
    font-size: 15px;
  }

  #navbar-collapse > ul > li:hover,
  #navbar-collapse > ul > li:focus,
  #navbar-collapse > ul > li.active {
    border-top: $line_width solid $cl_selected;
    border-bottom: $line_width solid $cl_selected;
  }

  #main-navbar .navbar-inner {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-vertical > * {
    padding-bottom: 10px;
    border-bottom: $line_width solid $cl_line;
  }

  #main-navbar {
    padding: 0;
  }

  #main-navbar .navbar-head {
    clear: both;
    overflow: hidden;
  }

  #navbar-collapse > ul > li {
    border-left: 1px solid transparent;
  }

  #navbar-collapse > ul > li:hover,
  #navbar-collapse > ul > li:focus,
  #navbar-collapse > ul > li.active {
    border-left: 1px solid $cl_selected;
  }
}

#login-form-container {
  width: 300px;
  padding-top: 15px;
  color: $cl_text;
}

#main-navbar .navbar-brand {
  font-size: 35px;
}

#main-navbar .navheader-brand {
  color: $cl_headers !important;
}

#navbar-collapse > ul > li > a {
  color: inherit;
}

#navbar-collapse > ul > li {
  color: $cl_headers;
}

#main-navbar .navbar-nav > .active > a {
  background: none !important;
}

#main-navbar * {
  text-transform: uppercase;
  font-family: $font_header;
  /*font-weight: bold;*/
}

.category-bar {
  text-transform: uppercase;
  font-family: $font_header;
  font-weight: bold;
  margin-bottom: 20px;
}

.category-bar * {
  font-family: $font_header;
  font-weight: bold !important;
}

.category-bar .btn {
  border: 1px solid transparent;
}

.category-bar .btn:hover,
.category-bar .btn:focus {
  background: none;
}

/* Editing */

p.dataOld {
  margin-left: 13px;
}

.dataNew {
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.image-preview {
  height: 60px;
}

/* Alerts */

.alertContainer {
  position: absolute;
  left: 50%;
  top: 0;
}

.alertContainer > * {
  position: relative;
  left: -50%;
  padding: 0 35px 0 10px;
  background-color: transparent;
  border-left: none;
  border-top: none;
  border-right: none;
}

/* Footer */

.footer {
  border-top: $line_width solid $cl_line;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #666;
  font-size: 12px;
}

.footer .dropup > a,
.footer .dropup > a:visited {
  color: #666 !important;
  text-decoration: none;
}

/* Post */
.post + .post {
  border-top: $line_width solid $cl_line;
}

.post {
  margin-bottom: 20px;
}

.post h1 {
  font-size: 25px;
  font-family: $font_header;
}

.post h2 {
  font-family: $font_header;
  font-size: 21px;
}

.post h3 {
  font-family: $font_header;
  font-size: 18px;
}

.post h4 {
  font-family: $font_header;
  font-size: 16px;
}

.post h1 > a {
  color: $cl_headers;
}

.post h1 > a:hover,
.post h1 > a:focus {
  text-decoration: none;
}

.post .post-info {
  font-size: 13px;
  color: $cl_subtext;
}

.post .content {
  padding: 20px 0 20px 0;
}

.post .content img {
  max-width: 100%;
  padding: 15px 0 15px 0;
}

.post .content .wrap-right {
  padding: 15px;
  max-width: 40%;
  float: right;
}

.post .content .wrap-left {
  padding: 15px;
  max-width: 40%;
  float: left;
}

.post .content .row {
  padding: 15px 15px 15px 15px;
}

.post .content .row > * {
  max-width: 50%;
  float: left;
}

.post .content .row > *:first-child {
  padding-right: 8px;
}

.post .content .row > *:last-child {
  padding-left: 8px;
}

.post .content .info-box {
  padding: 20px;
  border: $line_width solid $cl_line;
  overflow: hidden;
  clear: both;
}

.post .content .info-box table {
  margin-bottom: 0;
}

.post .content .info-box tr + tr > td {
  padding-top: 20px;
}

.post .content .info-box td + td {
  padding-left: 10px;
}

.post .content .info-box tr:first-child > td {
  border-top: none !important;
}

.post .content .info-box td:first-child {
  font-weight: bold;
}

.post .content .info-box tr:empty {
  display: none;
}

/* Post card */

.post .card {
  padding-top: 0;
  overflow: hidden;
  margin: 15px 0;
  padding-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  border-radius: 3px !important;
  width: 100%;
  position: relative
}

.post .card .card-image {
  max-height: 160px;
  overflow: hidden;
}

.post .card img {
  padding: 0 !important;
  width: 100%;
  vertical-align: top;
}

.post .card h2 {
  margin: 20px 15px 10px;
}

.post .card .description {
  color: #555;
  margin: 0 15px 10px;
}

.post .card .more {
  cursor: pointer;
  text-transform: uppercase;
  position: absolute;
  bottom: 12px;
  right: 15px;
  font-weight: 800;
  text-decoration: none;
  color: #000
}

/*
A card should look like this:

<div class="card" onclick="window.location.href = 'post.php?pid=15'">
	<div class="card-image">
    	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/SMPTE_Color_Bars.svg/329px-SMPTE_Color_Bars.svg.png">
    </div>
    <h2>Timetables - Vozni redi</h2>
    <div class="description">Android application for bus schedules in Slovenia</div>
    <a class="more">More</a>
</div>
*/

/* Action bar (profile) */

#actionBar {
  margin-top: -7px;
}

#actionBar > * > * {
  width: 100px;
}